#profile {
  text-align: center;
}
.nav-list {
  background-color: aqua;
}
a {
  color: black;
}
table,
tr,
th,
td,
caption {
  border-collapse: collapse;
  border: 1px solid #000000ee;
  padding: 0.5rem;
  font-family: "Courier New", Courier, monospace;
}
#name {
  color: red;
}
h1 {
  text-align: center;
}
