#profile {
  text-align: center;
}
nav {
  text-align: left;
}
a {
  color: black;
}
table,
tr,
th,
td,
caption {
  border-collapse: collapse;
  border: 1px solid #000000ee;
  padding: 0.5rem;
  font-family: "Courier New", Courier, monospace;
}
